global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 3s
    timeout client 1m
    timeout server 1m

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 5s
    hold obsolete 5s

frontend http
    bind :80
    default_backend traefik-http

backend traefik-http
    option tcp-check
    server blue traefik-blue:80 check resolvers docker init-addr none
    server green traefik-green:80 check resolvers docker init-addr none

frontend https
    bind :443
    default_backend traefik-https

backend traefik-https
    option tcp-check
    server blue traefik-blue:443 check resolvers docker init-addr none
    server green traefik-green:443 check resolvers docker init-addr none

frontend metrics
    bind :8082
    default_backend traefik-metrics

backend traefik-metrics
    option tcp-check
    server blue traefik-blue:8082 check resolvers docker init-addr none
    server green traefik-green:8082 check resolvers docker init-addr none

frontend nut
    bind :3493
    default_backend traefik-nut

backend traefik-nut
    option tcp-check
    server blue traefik-blue:3493 check resolvers docker init-addr none
    server green traefik-green:3493 check resolvers docker init-addr none

frontend redis
    bind :6379
    default_backend traefik-redis

backend traefik-redis
    option tcp-check
    server blue traefik-blue:6379 check resolvers docker init-addr none
    server green traefik-green:6379 check resolvers docker init-addr none
