---
targets:
- hosts:
  - facebook.com
  - youtube.com
  - google.com
  - fast.com
  - nas.yourlocalname       # NAS hostname
  - server.yourlocalname    # Main server hostname
  - 192.168.1.1             # Router
  - 192.168.1.10            # Secondary device
  - 8.8.8.8
  - 9.9.9.9
  - 1.1.1.1
  - homeassistant.yourlocalname
  - ups.yourlocalname
  interval: 1s
  network: ip
  protocol: icmp
  size: 56
